
body {
  background-color: rgb(244, 248, 249);
  font-family: helvetica;
  color: rgb(0, 0, 0);
}

#tweet {
  background-color: rgb(255, 255, 255);
  border-color: rgb(225, 232, 237);
  border-style: solid;
  border-radius: 10px;
  padding: 40px;
  width: 885px;
  height: 258px;
}


#logo {
  float: right;
  border-color: rgb(85, 172, 238);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  padding: 0px 40px;
  color: rgb(85, 172, 238);
}

#profilepic {
  position: fixed;
}

#accountlogos {
  display: inline-block;
  left: 100px;
  position: relative;
  bottom: 20px;
}

#username {
  left: 100px;
  position: relative;
  font-size: 18pt;
  bottom: 55px;
  color: rgb(104, 109, 129);
}


#date {
  color: rgb(101, 116, 127);
  font-size: 18pt;
}



#bottom-icons{
  color: rgb(105, 120, 130);
  font-size: 18pt;
}


#bottomhalf {
  position: relative;
  bottom: 40px;
}

#tweettext{
  bottom: 800px;
  font-size: 18pt;
}
